<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanzhiwen.blog.dao.ArticleDao">
    <resultMap id="ArticleMap" type="com.wanzhiwen.blog.entity.Article">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="type" property="type"/>
        <result column="content" property="content"/>
        <result column="add_time" property="addTime"/>
        <result column="views" property="views"/>
        <result column="author_name" property="authorName"/>
        <result column="author_portrait" property="authorPortrait"/>
        <result column="cover" property="cover"/>
    </resultMap>

    <insert id="insertArticle" parameterType="com.wanzhiwen.blog.entity.Article">
        insert into articles (title, type, content, add_time, author_name, author_portrait, cover) values (#{title},#{type},#{content},#{addTime},#{authorName},#{authorPortrait},#{cover});
    </insert>

    <select id="getArticleById" parameterType="int" resultMap="ArticleMap">
        select * from articles where id=#{id}
    </select>

    <select id="getArticlesByType" resultMap="ArticleMap">
        select * from articles where type=#{type} order by add_time limit #{start},10
    </select>
    <select id="getArticlesByTypeNums" resultType="int">
        select count(*) from articles where type=#{type}
    </select>
    <update id="updateArticleById" parameterType="com.wanzhiwen.blog.entity.Article">
        update articles set title=#{title},type=#{type},content=#{content},add_time=#{addTime},views=0,author_name=#{authorName},author_portrait=#{authorPortrait},cover=#{cover} where id=#{id}
    </update>
    <update id="addview" parameterType="int">
        update articles set views=views+1 where id=#{articleId}
    </update>
</mapper>